Package: com.opa334.cccleaner
Name: CCCleaner
Depends: firmware (>=11.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Cleans up modified CC system files!
Depiction: https://opa334.github.io/depic/CCCleaner/index.html
Homepage: https://opa334.github.io/
Maintainer: opa334
Author: opa334
Section: System
